In [3]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Product': ['Product A', 'Product B', 'Product A', 'Product D'],
    'Price': [10.99, 25.49, 10.99, 15.99],
    'SKU': ['SKU001', 'SKU002', 'SKU001', 'SKU004'],
    'Department': ['Electronics', 'Clothing', 'Electronics', 'Toys']
})

df.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Product': ['Product A', 'Product B', 'Product A', 'Product D'],
    'Price': [10.99, 25.49, 10.99, 15.99],
    'SKU': ['SKU001', 'SKU002', 'SKU001', 'SKU004'],
    'Department': ['Electronics', 'Clothing', 'Electronics', 'Toys']
})

df.drop_duplicates()

     Product  Price     SKU   Department
0  Product A  10.99  SKU001  Electronics
1  Product B  25.49  SKU002     Clothing
3  Product D  15.99  SKU004         Toys